.cal{
   height: 450px;
   width:360px;
   background-color: rgb(207, 196, 205);
   border-radius: 30px;
   padding: 10px 10px 10px 10px;
  margin-left: 450px;
  margin-top: 150px;
}
input{
    width:300px;
    height:60px;
    background-color: rgb(214, 172, 176);
    border-radius: 45px;
    margin-top: 20px;
    margin-left: 28px;
    font-size: 30px;
    border-style: none;
    

}
.cal button{
    height: 70px;
    width: 70px;
    background-color: rgb(196, 151, 206);
    border-radius: 50%;
    font-size: 30px;
    transition: 0.4s;
    border: none;
   
}
.cal button:hover{
  color: rgb(243, 224, 224);
  background-color: rgb(161, 122, 197);

}
.bt{
   
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
}
